# FastAPI
FASTAPI_ALLOW_ORIGINS='["http://127.0.0.1:8000"]'

# SocketIO
SOCKETIO_CORS_ALLOWED_ORIGINS='["http://127.0.0.1:8000"]'

# MinIO
MINIO_ENDPOINT_URL=http://127.0.0.1:9000/
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672